In [2]:
#importing packages
import pandas as pd
import numpy as np
import seaborn as sns
#loading data
NYC=pd.read_csv('new_york_city.csv')
#printing NYC
NYC

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,11-06-2017 14:55,11-06-2017 15:08,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,11-05-2017 15:30,11-05-2017 15:41,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,29-03-2017 13:26,29-03-2017 13:48,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,08-05-2017 19:47,08-05-2017 19:59,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,21-06-2017 07:49,21-06-2017 07:54,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0
5,1285652,22-02-2017 18:55,22-02-2017 19:12,998,State St & Smith St,Bond St & Fulton St,Subscriber,Male,1986.0
6,1675753,06-03-2017 16:22,06-03-2017 16:30,478,Front St & Gold St,Lafayette Ave & Fort Greene Pl,Subscriber,Male,1982.0
7,1692245,07-03-2017 07:42,07-03-2017 08:49,4038,E 89 St & York Ave,Broadway & Battery Pl,Subscriber,Male,1984.0
8,2271331,02-04-2017 08:02,02-04-2017 09:28,5132,Central Park S & 6 Ave,Central Park S & 6 Ave,Customer,NaN,NaN
9,1558339,01-03-2017 23:01,01-03-2017 23:06,309,E 3 St & 1 Ave,E 25 St & 2 Ave,Subscriber,Male,1992.0
10,2287178,02-04-2017 14:37,02-04-2017 14:56,1131,Bank St & Washington St,Little West St & 1 Pl,Customer,NaN,NaN
11,2744874,13-04-2017 13:40,13-04-2017 13:45,319,Front St & Maiden Ln,Liberty St & Broadway,Subscriber,Male,1955.0
12,3398180,27-04-2017 23:27,28-04-2017 00:05,2301,E 10 St & 5 Ave,Columbus Ave & W 72 St,Subscriber,Male,1971.0
13,991609,13-02-2017 15:40,13-02-2017 16:00,1172,1 Ave & E 68 St,E 47 St & Park Ave,Subscriber,Male,1993.0
14,1512596,28-02-2017 19:26,28-02-2017 19:35,518,N 11 St & Wythe Ave,Bushwick Ave & Powers St,Subscriber,Male,1983.0
15,187466,11-01-2017 11:30,11-01-2017 11:35,285,E 17 St & Broadway,W 17 St & 8 Ave,Subscriber,Male,1972.0
16,2195658,29-03-2017 20:19,29-03-2017 20:24,263,State St & Smith St,Johnson St & Gold St,Subscriber,Male,1982.0
17,6388534,23-06-2017 21:21,23-06-2017 21:30,525,E 2 St & Avenue C,E 11 St & 2 Ave,Subscriber,Female,1997.0
18,4733837,24-05-2017 08:53,24-05-2017 09:04,658,Central Park West & W 76 St,E 72 St & York Ave,Subscriber,Male,1979.0
19,5857,01-01-2017 13:32,01-01-2017 13:49,1038,W 22 St & 8 Ave,W 45 St & 6 Ave,Customer,NaN,NaN
20,1132766,18-02-2017 13:29,18-02-2017 13:30,82,E 71 St & 1 Ave,1 Ave & E 68 St,Subscriber,Male,1983.0
21,3358474,27-04-2017 09:44,27-04-2017 09:48,204,University Pl & E 14 St,Washington Pl & Broadway,Subscriber,Male,1988.0
22,1778858,09-03-2017 11:15,09-03-2017 11:29,803,E 25 St & 2 Ave,Suffolk St & Stanton St,Subscriber,Female,1978.0
23,2497952,08-04-2017 13:39,08-04-2017 14:04,1476,Dean St & Hoyt St,Plaza St West & Flatbush Ave,Customer,NaN,NaN
24,2905932,16-04-2017 17:36,16-04-2017 18:02,1605,Allen St & Stanton St,Mott St & Prince St,Subscriber,Male,1983.0
25,3123311,21-04-2017 09:41,21-04-2017 09:48,441,Lexington Ave & E 63 St,1 Ave & E 68 St,Subscriber,Female,1965.0
26,2959550,17-04-2017 18:27,17-04-2017 18:56,1750,NYCBS Depot - SSP,Columbia St & Degraw St,Subscriber,Male,1975.0
27,2067887,25-03-2017 12:02,25-03-2017 12:08,393,W 26 St & 8 Ave,W 38 St & 8 Ave,Subscriber,Female,1960.0
28,3518426,29-04-2017 23:58,30-04-2017 00:02,215,Great Jones St,Mott St & Prince St,Subscriber,Male,1986.0
29,5383277,06-06-2017 11:23,06-06-2017 11:26,205,W 43 St & 10 Ave,9 Ave & W 45 St,Subscriber,Male,1951.0
...,...,...,...,...,...,...,...,...,...
299970,2975241,18-04-2017 07:14,18-04-2017 07:19,322,E 33 St & 5 Ave,Pershing Square North,Subscriber,Male,1973.0
299971,918044,07-02-2017 19:42,07-02-2017 19:45,186,Broadway & Roebling St,S 3 St & Bedford Ave,Subscriber,Female,1976.0
299972,139757,09-01-2017 08:45,09-01-2017 09:04,1105,Rivington St & Chrystie St,5 Ave & E 29 St,Subscriber,Female,1978.0
299973,4836689,26-05-2017 16:47,26-05-2017 16:53,377,Allen St & Stanton St,Canal St & Rutgers St,Subscriber,Female,1985.0
299974,3770085,04-05-2017 15:53,04-05-2017 16:19,1599,W 20 St & 11 Ave,E 17 St & Broadway,Customer,NaN,NaN
299975,2494486,08-04-2017 12:36,08-04-2017 12:58,1309,Central Park S & 6 Ave,5 Ave & E 88 St,Customer,NaN,NaN
299976,6392528,24-06-2017 02:59,24-06-2017 03:19,1203,W 13 St & 6 Ave,Broadway & Battery Pl,Subscriber,Male,1992.0
299977,5120176,01-06-2017 15:58,01-06-2017 16:21,1357,St James Pl & Pearl St,Cadman Plaza E & Tillary St,Customer,NaN,NaN
299978,4776310,24-05-2017 19:47,24-05-2017 20:02,879,W 21 St & 6 Ave,W 49 St & 8 Ave,Subscriber,Female,1987.0
299979,2205256,30-03-2017 08:29,30-03-2017 08:33,196,E 7 St & Avenue A,Cooper Square & E 7 St,Subscriber,Male,1986.0
299980,5796961,13-06-2017 13:05,13-06-2017 13:32,1563,W 45 St & 8 Ave,West St & Chambers St,Customer,NaN,NaN
299981,4261576,15-05-2017 17:48,15-05-2017 17:54,398,Cathedral Pkwy & Broadway,W 100 St & Manhattan Ave,Subscriber,Female,1983.0
299982,4424280,18-05-2017 09:12,18-05-2017 09:56,2625,6 St & 7 Ave,W 25 St & 6 Ave,Subscriber,Male,1991.0
299983,5131279,01-06-2017 17:56,01-06-2017 18:02,326,Pier 40 - Hudson River Park,West St & Chambers St,Subscriber,Female,1988.0
299984,3841625,06-05-2017 14:30,06-05-2017 14:39,558,Lafayette St & Jersey St,University Pl & E 14 St,Customer,NaN,NaN
299985,6601007,27-06-2017 17:24,27-06-2017 18:28,3833,Forsyth St & Canal St,E 5 St & Avenue C,Subscriber,Female,1986.0
299986,2600818,10-04-2017 18:07,10-04-2017 18:20,803,E 55 St & 2 Ave,Queens Plaza North & Crescent St,Subscriber,Male,1989.0
299987,650748,29-01-2017 08:19,29-01-2017 09:01,2520,W 26 St & 8 Ave,W 26 St & 8 Ave,Subscriber,Male,1960.0
299988,1057381,15-02-2017 18:13,15-02-2017 18:15,132,W 18 St & 6 Ave,W 21 St & 6 Ave,Subscriber,Female,1955.0
299989,4706819,23-05-2017 18:13,23-05-2017 18:47,2052,West Thames St,12 Ave & W 40 St,Subscriber,Male,1972.0
299990,1525951,01-03-2017 08:36,01-03-2017 08:55,1099,Christopher St & Greenwich St,Liberty St & Broadway,Subscriber,Female,1973.0
299991,1137140,18-02-2017 14:55,18-02-2017 15:34,2315,Central Park West & W 68 St,Central Park West & W 76 St,Customer,NaN,NaN
299992,3861611,06-05-2017 19:58,06-05-2017 20:14,932,Hanson Pl & Ashland Pl,Willoughby Ave & Tompkins Ave,Subscriber,Female,1982.0
299993,4660947,22-05-2017 21:09,22-05-2017 21:14,352,Wythe Ave & Metropolitan Ave,Devoe St & Lorimer St,Subscriber,Male,1972.0
299994,4198848,14-05-2017 12:43,14-05-2017 12:57,869,Cumberland St & Lafayette Ave,Plaza St West & Flatbush Ave,Subscriber,Female,1991.0
299995,3273600,24-04-2017 17:51,24-04-2017 17:59,495,W 25 St & 6 Ave,W 38 St & 8 Ave,Subscriber,Male,1977.0
299996,3418509,28-04-2017 12:02,28-04-2017 12:19,994,W 27 St & 7 Ave,W 52 St & 5 Ave,Subscriber,Male,1967.0
299997,5034995,31-05-2017 09:11,31-05-2017 09:24,785,3 Ave & E 72 St,W 44 St & 5 Ave,Subscriber,Male,1972.0
299998,78227,05-01-2017 08:31,05-01-2017 08:51,1164,Columbia St & Kane St,Barclay St & Church St,Subscriber,Male,1964.0
299999,2554332,09-04-2017 17:46,09-04-2017 18:06,1189,Division St & Bowery,Lafayette St & Jersey St,Subscriber,Female,1985.0

In [3]:
#performing head()
NYC.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,11-06-2017 14:55,11-06-2017 15:08,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,11-05-2017 15:30,11-05-2017 15:41,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,29-03-2017 13:26,29-03-2017 13:48,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,08-05-2017 19:47,08-05-2017 19:59,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,21-06-2017 07:49,21-06-2017 07:54,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [4]:
#performing tail()
NYC.tail()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
299995,3273600,24-04-2017 17:51,24-04-2017 17:59,495,W 25 St & 6 Ave,W 38 St & 8 Ave,Subscriber,Male,1977.0
299996,3418509,28-04-2017 12:02,28-04-2017 12:19,994,W 27 St & 7 Ave,W 52 St & 5 Ave,Subscriber,Male,1967.0
299997,5034995,31-05-2017 09:11,31-05-2017 09:24,785,3 Ave & E 72 St,W 44 St & 5 Ave,Subscriber,Male,1972.0
299998,78227,05-01-2017 08:31,05-01-2017 08:51,1164,Columbia St & Kane St,Barclay St & Church St,Subscriber,Male,1964.0
299999,2554332,09-04-2017 17:46,09-04-2017 18:06,1189,Division St & Bowery,Lafayette St & Jersey St,Subscriber,Female,1985.0

In [5]:
#performing information
NYC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        299308 non-null object
Gender           270791 non-null object
Birth Year       271780 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [6]:
#performing describe
NYC.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05   3.000000e+05  271780.000000
mean   3.407026e+06   8.996842e+02    1978.254309
std    1.965617e+06   5.710016e+03      11.848045
min    3.300000e+01   6.100000e+01    1885.000000
25%    1.707416e+06   3.680000e+02    1970.000000
50%    3.405756e+06   6.090000e+02    1981.000000
75%    5.108762e+06   1.054000e+03    1988.000000
max    6.816152e+06   2.155775e+06    2001.000000